*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    color: #333;
}

#details {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    background-color: rgba(245, 245, 220, 0.68);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

#details #close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

#details #close svg {
    width: 1rem;
    height: 1rem;
}

#details #close:hover svg line{
    stroke: #333;
}

#details .short__description{
    width: auto;
}

#details .content {
    padding-block-end: 0.6rem;
}

#details p{
    width: auto;
    word-break: break-all;
    white-space: normal;
    margin: 0;
    padding: 0;
    padding-block: 0.5rem;
}

#details .title {
    margin: 0;
    padding: 0;
    color: #bebebe;
    border-bottom: 0.5px solid #bebebe;
    text-transform: capitalize;
}

svg .label:hover {
    cursor: pointer;
}