/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600&display=swap');

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Variables */
:root {
  --primary-clr: #181818;
  --secondary-clr: #e6e6e6;
  --tertiary-clr: #00b1a1;
  --quaternary-clr: #73d3cb;
}

/* Default Styles */
body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 120%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: auto;
  height: 100%;
}
